RewriteEngine On


RewriteCond %{HTTP_HOST} ^54\.214\.251\.208
RewriteRule (.*) http://www.darussalampk.co.uk/$1 [R=301,L]

RewriteCond %{QUERY_STRING} ^option=com_virtuemart$ [NC]

RewriteRule ^index\.php$ - [NC,L,R=404]


RewriteRule ^index.php/uploads/ - [R=301,L]
RewriteRule ^index.php/media/ - [R=301,L,NC]
RewriteRule ^index.php/images/ - [R=301,L,NC]
RewriteRule ^index.php/test/ - [R=301,L,NC]
RewriteRule ^index.php/video/ - [R=301,L,NC]
RewriteRule ^index.php/waqas/ - [R=301,L,NC]
RewriteRule ^index.php/yii/ - [R=301,L,NC]
RewriteRule ^index.php/component/ - [R=301,L,NC]
RewriteRule ^index.php/shop/ - [R=301,L,NC]
RewriteRule ^index.php/digital-devices/index.php/ - [R=301,L,NC]
RewriteRule ^index.php/branches/index.php/ - [R=301,L,NC]
RewriteRule ^index.php/news-events-media/index.php/ - [R=301,L,NC]
RewriteRule ^index.php/contact-us/index.php/ - [R=301,L,NC]
RewriteRule ^index.php/index.php/index.php/ - [R=301,L,NC]
RewriteRule ^index.php/index.php/index.php/ - [R=301,L,NC]
RewriteRule ^templates/ja_mesolite_ii/ - [R=301,L,NC]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\?*$ index.php/$1 [L,QSA]




IndexIgnore /uploads/*
IndexIgnore /media/*
IndexIgnore /images/*
IndexIgnore /test/*
IndexIgnore /video_devices/*
IndexIgnore /waqas/*
IndexIgnore /yii/*


# supress php errors
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_value error_reporting 0
