RewriteEngine On


RewriteCond %{HTTP_HOST} ^142\.4\.29\.119
RewriteRule (.*) http://www.darussalampk.com/$1 [R=301,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php)
RewriteRule ^(.+)$ index.php?$1 [PT,L,QSA]


RewriteRule ^index.php/uploads/ - [R=301,L]
RewriteRule ^index.php/media/ - [R=301,L,NC]
RewriteRule ^index.php/images/ - [R=301,L,NC]
RewriteRule ^index.php/test/ - [R=301,L,NC]
RewriteRule ^index.php/video/ - [R=301,L,NC]
RewriteRule ^index.php/waqas/ - [R=301,L,NC]
RewriteRule ^index.php/yii/ - [R=301,L,NC]
RewriteRule ^index.php/component/ - [R=301,L,NC]
RewriteRule ^index.php/shop.*$  http://www.darussalampk.com/$1 [R=301,L,NC]
RewriteRule ^index.php/assets.*$  http://www.darussalampk.com/$1 [R=301,L]
RewriteRule ^index.php/digital-devices.*$  http://www.darussalampk.com/$1 [R=301,L,NC]
RewriteRule ^index.php/branches.*$  http://www.darussalampk.com/$1 [R=301,L]
RewriteRule ^index.php/branches.*$  http://www.darussalampk.com/$1 [R=301,L]
RewriteRule ^index.php/templates.*$  http://www.darussalampk.com/$1 [R=301,L]
RewriteRule ^index.php/news-events-media.*$  http://www.darussalampk.com/$1 [R=301,L]

RewriteRule ^index.php/themes.*$  http://www.darussalampk.com/$1 [R=301,L]
RewriteRule ^index.php/uploads/user_profile/2/.Zojila_Road.jpg  http://www.darussalampk.com/$1 [R=301,L]
RewriteRule ^index.php.*{QUERY_STRING}option=com_virtuemart$  http://www.darussalampk.com/$1 [R=301,L]


 

     
RewriteRule ^index.php/assets/ - [R=301,L,NC]
RewriteRule ^index.php/digital-devices/index.php/(.*) - [R=301,L,NC]
RewriteRule ^index.php/digital-devices.*$ [R=301,L]
RewriteRule ^index.php/digital-devices/index.php/digital-devices - [R=301,L,NC]
RewriteRule ^index.php/digital-devices/.* - [R=301,L,NC]
RewriteRule ^index.php/themes/.* - [R=301,L,NC]
RewriteRule ^index.php/branches/index.php/ - [R=301,L,NC]
RewriteRule ^index.php/news-events-media/index.php/ - [R=301,L,NC]
RewriteRule ^index.php/contact-us/index.php/ - [R=301,L,NC]
RewriteRule ^index.php/index.php/index.php/ - [R=301,L,NC]
RewriteRule ^index.php/index.php/index.php/ - [R=301,L,NC]
RewriteRule ^index.php/index.php/index.php/index.php - [R=301,L,NC]
RewriteRule ^index.php/*/nextelem.html - [R=301,L,NC]
RewriteRule ^templates/ja_mesolite_ii/ - [R=301,L,NC]
RewriteRule ^templates/ja_mesolite_ii/ - [R=301,L,NC]
RewriteRule \.(png|zip|gif|jpeg|jpg|css|js|html)$ - [R=301,L,NC]

RedirectMatch 301 /product_detail.aspx?product_id=1209  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Children/Our-Home-Urdu---3168/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/General/Bayad-ul-Al-Arbaeen-Urdu---3076/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/General/Islamic-Manners-of-Life-Urdu---3273/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Children/Hasad-ki-Aag-Urdu---3110/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Children/Bagh-Nabowatt-Kay-Phool---2-Ur-3200/detail  http://www.darussalamksa.com
RedirectMatch 301  /en/pak/lahore/1//Huqooq-Zojain-1171/detail http://www.darussalampk.com
RedirectMatch 301  /en/pak/lahore/1//Ammaar-in-Makkah-713/detail http://www.darussalampk.com
RedirectMatch 301 /en/ksa/ria/5/Women/If-you-become-a-mother--Urdu---3376/detail  http://www.darussalamksa.com
RedirectMatch 301  /en/pak/lahore/1//Musalman-Bachon-Ki-Subah-Shaam-1261/detail http://www.darussalampk.com
RedirectMatch 301 /index2.php?option=com_virtuemart&page=shop.pdf_output&showpage=shop.product_details&pop=1&output=pdf&product_id=467&category_id=26&pop=1 http://www.darussalampk.com
RedirectMatch 301  /en/pak/lahore/1//Riaz-Us-Saliheen-1130/detail http://www.darussalampk.com
RedirectMatch 301 /en/ksa/ria/5/Aqeeda/Seek-Help-except-Allah--Urdu---3105/detail  http://www.darussalamksa.com
RedirectMatch 301  /assets/c0207557/jui/js/jquery-ui.min.js http://www.darussalampk.com
RedirectMatch 301  /assets/c0207557/jui/css/base/jquery-ui.css http://www.darussalampk.com
RedirectMatch 301 /en/ksa/ria/5/Worships/Alignment-in-Prayer-Urdu---3195/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Stories/Story-of-Unus-Urdu----3301/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Fiqh/From-Monogamy-to-polygany-Urdu-3226/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/The-Battle-of-Qadisiyyah---Urd-3411/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Stories/Story-of-Ibrahim-Urdu----3296/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Rasool-Allah-ki-Namaz-Urdu---3109/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Sharah-Kitab-ut-Towheed---Urdu-3157/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Salat-Un-Nabi-Urdu----3097/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/pak/lahore/1/Learning/Jadeed-Arabi-Sekhye-3432/detail http://www.darussalampk.com
RedirectMatch 301 /en/ksa/ria/5/Seerah/Beauty-of-Muhammad--Urdu----3069/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Children/Azeem-Shahsawar---for-Childern-3186/detail  http://www.darussalamksa.com
RedirectMatch 301 en/ksa/ria/5/Hadith/-2411/detail?ProductProfile_sort=title  http://www.darussalamksa.com
RedirectMatch 301 en/ksa/ria/5/Books/-2436/detail?ProductProfile_sort=printing  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Islamic-Prayers-and-Supplicati-3364/detail  http://www.darussalamksa.com
RedirectMatch 301 /assets/c0207557/jui/css/base/jquery-ui.css http://www.darussalampk.com
RedirectMatch 301 /assets/ba39da23/pager.css http://www.darussalampk.com
RedirectMatch 301 /assets/c0207557/jui/js/jquery-ui.min.js http://www.darussalampk.com
RedirectMatch 301  /index.php/index2.php?page=shop.product_details&flypage=flypage.tpl&product_id=714&category_id=26&option=com_virtuemart&Itemid=60 http://www.darussalampk.com
RedirectMatch 301 /product_detail.aspx?product_id=1194  http://www.darussalamksa.com
RedirectMatch 301 /product_detail.aspx?product_id=\"%20+%20product_id%20+%20\"  http://www.darussalamksa.com
RedirectMatch 301 /arabic/product_detail.aspx?product_id=1173  http://www.darussalamksa.com
RedirectMatch 301 /arabic/product_detail.aspx?product_id=1174  http://www.darussalamksa.com
RedirectMatch 301 /arabic/product_detail.aspx?product_id=1171  http://www.darussalamksa.com
RedirectMatch 301 /view_all_categories.aspx  http://www.darussalamksa.com
RedirectMatch 301 /arabic/product_detail.aspx?product_id=1181  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?language_id=24  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?language_id=23  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?category_id=1  http://www.darussalamksa.com
RedirectMatch 301 /product_detail.aspx?product_id=5  http://www.darussalamksa.com
RedirectMatch 301 /arabic/product_detail.aspx?product_id=1175  http://www.darussalamksa.com
RedirectMatch 301 /mycart.aspx  http://www.darussalamksa.com
RedirectMatch 301 login.aspx  http://www.darussalamksa.com
RedirectMatch 301 /arabic/product_detail.aspx?product_id=1169  http://www.darussalamksa.com
RedirectMatch 301 /product_detail.aspx?product_id=14  http://www.darussalamksa.com
RedirectMatch 301 /product_detail.aspx?product_id=1197  http://www.darussalamksa.com
RedirectMatch 301 /reward_program.aspx  http://www.darussalamksa.com
RedirectMatch 301 /contact_us.aspx  http://www.darussalamksa.com
RedirectMatch 301 /help_desk.aspx  http://www.darussalamksa.com
RedirectMatch 301 /en_index.aspx  http://www.darussalamksa.com
RedirectMatch 301 /arabic/privacy_policy.aspx  http://www.darussalamksa.com
RedirectMatch 301 /about_us.aspx  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx  http://www.darussalamksa.com
RedirectMatch 301 arabic/product_detail.aspx?product_id=1177  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Three-Divers-at-a-Time-Urdu----3276/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/A-Misunderstanding-Urdu---3163/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/The-Old-Book-Urdu---3230/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Seerah/Manner-and-Guide-Urdu---3307/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Stories/Story-of-Usuf-Urdu----3299/detail  http://www.darussalamksa.com
RedirectMatch 301 /product_detail.aspx?product_id=1209  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Children/From-Breakfast-to-School-Urdu--3173/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Jadoo-ka-Ilaj-Urdu---3146/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Umar-Faruque-Urdu----3210/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Rain-of-stones-Urdu---3232/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Makkar-Dushman-Urdu---3113/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Children/Bagh-Nabowatt-Kay-Phool---1-Ur-3199/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Golden-Stories-of-Abu-Bakr--ur-3372/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/The-Horrific-Storm-Urdu---3231/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Supplications/Islamic-Prayers-and-Supplicati-3364/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Children/Badsha-kay-Darbar-main-Urdu---3111/detail  http://www.darussalamksa.com
RedirectMatch 301  /en/pak/lahore/1//Rasool-Allah-Ki-Namaz-1152/detail http://www.darussalampk.com
RedirectMatch 301 /upload/product/Arkan%20ul%20Qiyada(3).jpg  http://www.darussalamksa.com
RedirectMatch 301 /upload/product/TAFSIR%20AHSAN%20AL%20BAYYAN%20A044.jpg  http://www.darussalamksa.com
RedirectMatch 301 /images/addcart.png  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/General/Rules--Merits-of-Repents-Urdu-3348/detail  http://www.darussalamksa.com
RedirectMatch 301  /en/pak/lahore/1//Huqooq-Allah-1176/detail http://www.darussalampk.com
RedirectMatch 301 /en/ksa/ria/5/Books/Sunahri-Kerne-Urdu-----3223/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Fatawa-Islamiyah---Urdu----Vol-3141/detail  http://www.darussalamksa.com
RedirectMatch 301 images/contact.png  http://www.darussalamksa.com
RedirectMatch 301  /en/pak/lahore/1//The-Beautiful-Names-and-Attrib-727/detail http://www.darussalampk.com
RedirectMatch 301 /en/ksa/ria/5/Books/Fatawa-Islamiyah---Urdu----Vol-3141/detail  http://www.darussalamksa.com
RedirectMatch 301 /assets/d5ca964c/tiny_mce/plugins/legacyoutput/ http://www.darussalampk.com
RedirectMatch 301 en/ksa/ria/5/Books/-2265/detail?ProductProfile_sort=dimension  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Children/Akhri-Dawat---Urdu------for-Ch-3191/detail  http://www.darussalamksa.com
RedirectMatch 301 /upload/product/surat%20al-ardh%20front.jpg  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/What-is-Shirk-and-Urdu-10x15---3228/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Qurani-Du-a-for-Children-Urdu--3101/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/A-Cruel-Joke-Urdu---3159/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Riights-of-Children-Urdu---3236/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Our-Home-Urdu---3168/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Story-of-Sulaiman-Urdu----3304/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Aqeedah-Ahl-Sunatt-Wal-Jamaah--3144/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Lulu-wal-Maknon---Urdu-Vol--3-3388/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/A-day-in-the-life-of-Muslim-ch-3412/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Women/Love-Marriage--Urdu---3106/detail  http://www.darussalamksa.com
RedirectMatch 301 en/ksa/ria/5/Worship/-2136/detail?ProductProfile_sort=paper  http://www.darussalamksa.com
RedirectMatch 301 /assets/ba39da23/pager.css http://www.darussalampk.com
RedirectMatch 301 /assets/c0207557/jui/css/base/jquery-ui.css http://www.darussalampk.com
RedirectMatch 301 /assets/c0207557/jui/js/jquery-ui.min.js http://www.darussalampk.com
RedirectMatch 301 /en/ksa/ria/5/Children/Akhari-Azab--Urdu--3385/detail  http://www.darussalamksa.com
RedirectMatch 301  /en/pak/lahore/1//Qawaid-Al-Nahw-Part-Two-1201/detail http://www.darussalampk.com
RedirectMatch 301 /en/ksa/ria/5/Children/puri-Dunia-ik-Taraff---Urdu----3192/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Women/Risalat-ul-Hijab-Urdu----3081/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Encyclopedia/Atlas-of-Victoies-in-Islam-Eng-3324/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/General/Qiyamat-Urdu---3334/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Children/A-Cruel-Joke-Urdu---3159/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Children/Searching-for-the-right-Urdu---3164/detail  http://www.darussalamksa.com
RedirectMatch 301  /en/pak/lahore/1//Faiz-ul-Bari-Farsi-1297/detail http://www.darussalampk.com
RedirectMatch 301  /en/pak/lahore/1//Ghazwat-e-Nabi-Series-1260/detail http://www.darussalampk.com
RedirectMatch 301 /en/ksa/ria/5/Children/From-Fajar-to-Morning-Urdu---3170/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/History/Imam-Muhammad-bin-abdul-Wahhab-3153/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Sahih-Bukhari-vol-5---urdu---3416/detail  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?manufacturer_id=342  http://www.darussalamksa.com
RedirectMatch 301 /product_detail.aspx?product_id=1213  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?manufacturer_id=421  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Women/Sunahri-Kerne-Urdu-----3223/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Women/Sunahri-Kerne-Urdu-----3223/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Children/Azam--Urdu--3386/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Seerah/Seerat-Encyclopedia-vol--6-urd-3420/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Children/From-Assembly-to-Classroom-Urd-3169/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Aqeeda/What-is-Shirk-and-Urdu-10x15---3228/detail  http://www.darussalamksa.com
RedirectMatch 301 /arabic/shopping_returns.aspx  http://www.darussalamksa.com
RedirectMatch 301 /arabic/product_list.aspx?category_id=6  http://www.darussalamksa.com
RedirectMatch 301 /arabic/privacy_policy.aspx  http://www.darussalamksa.com
RedirectMatch 301 /arabic/help_desk.aspx  http://www.darussalamksa.com
RedirectMatch 301 /about_us.aspx  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/viewPage/FAQ%27s-28  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?category_id=5  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?category_id=18  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?category_id=14  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?category_id=13  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx  http://www.darussalamksa.com
RedirectMatch 301 /help_desk.aspx  http://www.darussalamksa.com
RedirectMatch 301 /en_index.aspx  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/category/%23N-A-184  http://www.darussalamksa.com
RedirectMatch 301 /contact_us.aspx  http://www.darussalamksa.com
RedirectMatch 301 /arabic/submit_contact_us.aspx  http://www.darussalamksa.com
RedirectMatch 301 /arabic/product_list.aspx?category_id=8  http://www.darussalamksa.com
RedirectMatch 301 /arabic/product_list.aspx?category_id=4  http://www.darussalamksa.com
RedirectMatch 301 /arabic/product_list.aspx?category_id=3  http://www.darussalamksa.com
RedirectMatch 301 /arabic/mycart.aspx  http://www.darussalamksa.com
RedirectMatch 301 /arabic/login.aspx  http://www.darussalamksa.com
RedirectMatch 301 /arabic/index.aspx  http://www.darussalamksa.com
RedirectMatch 301 /3  http://www.darussalamksa.com
RedirectMatch 301 /shopping_returns.aspx  http://www.darussalamksa.com
RedirectMatch 301 /reward_program.aspx  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?category_id=7  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?category_id=16  http://www.darussalamksa.com
RedirectMatch 301 /product_detail.aspx?product_id=1218  http://www.darussalamksa.com
RedirectMatch 301 /mycart.aspx  http://www.darussalamksa.com
RedirectMatch 301 /my_profile.aspx  http://www.darussalamksa.com
RedirectMatch 301 /login.aspx  http://www.darussalamksa.com
RedirectMatch 301 /index.aspx  http://www.darussalamksa.com
RedirectMatch 301 /arabic/view_all_categories.aspx  http://www.darussalamksa.com
RedirectMatch 301 /arabic/product_list.aspx?category_id=9  http://www.darussalamksa.com
RedirectMatch 301 /arabic/product_list.aspx?category_id=5  http://www.darussalamksa.com
RedirectMatch 301 /arabic/product_list.aspx?category_id=2  http://www.darussalamksa.com
RedirectMatch 301 /arabic/product_list.aspx?category_id=19  http://www.darussalamksa.com
RedirectMatch 301 /arabic/product_list.aspx  http://www.darussalamksa.com
RedirectMatch 301 /arabic/about_us.aspx  http://www.darussalamksa.com
RedirectMatch 301 /5  http://www.darussalamksa.com
RedirectMatch 301 /2  http://www.darussalamksa.com
RedirectMatch 301 /www.discoverislamcentre.com  http://www.darussalamksa.com
RedirectMatch 301 /registeration.aspx  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?category_id=6  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?category_id=17  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?category_id=1  http://www.darussalamksa.com
RedirectMatch 301 /privacy_policy.aspx  http://www.darussalamksa.com
RedirectMatch 301 /arabic/reward_program.aspx  http://www.darussalamksa.com
RedirectMatch 301 /arabic/registeration.aspx  http://www.darussalamksa.com
RedirectMatch 301 /arabic/product_list.aspx?category_id=7  http://www.darussalamksa.com
RedirectMatch 301 /arabic/product_detail.aspx?product_id=1186  http://www.darussalamksa.com
RedirectMatch 301 /arabic/forgot_password.aspx  http://www.darussalamksa.com
RedirectMatch 301 /arabic/ar_index.aspx  http://www.darussalamksa.com
RedirectMatch 301 /arabic/contact_us.aspx  http://www.darussalamksa.com
RedirectMatch 301 /view_all_categories.aspx  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?category_id=4  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?category_id=3  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?category_id=15  http://www.darussalamksa.com
RedirectMatch 301 /product_list.aspx?category_id=12  http://www.darussalamksa.com
RedirectMatch 301 /product_detail.aspx?product_id=385  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Sunahri-Kerne-Urdu-----3223/detail  http://www.darussalamksa.com
RedirectMatch 301 /contact.php http://www.darussalampk.com
RedirectMatch 301 /en/ksa/ria/5/Books/Fatawa-Islamiyah---Urdu----Vol-3141/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Fatawa-Islamiyah---Urdu----Vol-3141/detail  http://www.darussalamksa.com
RedirectMatch 301  /en/pak/lahore/1//Haywanat-e-Qurani-Series-1263/detail http://www.darussalampk.com
RedirectMatch 301  /en/pak/lahore/1//Khwabon-Ki-Tabeerain-1257/detail http://www.darussalampk.com
RedirectMatch 301  /en/pak/lahore/1//Haqooq-Walidain-1174/detail http://www.darussalampk.com
RedirectMatch 301 /en/ksa/ria/5/Children/From-Fajar-to-Morning-Urdu---3170/detail  http://www.darussalamksa.com
RedirectMatch 301 /default.aspx?aspxerrorpath=/arabic/product_list.aspx  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/History/History-of-Madinah-Munawwarah--3138/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Dawa/Nafaz-E-Shariat-Urdu---3107/detail  http://www.darussalamksa.com
RedirectMatch 301 en/ksa/ria/5/Books/-2582/detail?ProductProfile_sort=language_id.desc  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Bayad-ul-Al-Arbaeen-Urdu---3076/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Manners-of-Prophet-PBUH---urdu-3419/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/The-Noble-Life-of-the-Prophet--3395/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Al-Jmai-Al-Farid-Urdu---3068/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Excellent-Merits-of-Qur-an-Urd-3088/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/What-should-be-done-in-Ramadha-3214/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/General/Islamy-Muasharat---Urdu--3131/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/embark-with-us--Urdu---3379/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Story-of-son--Urdu--3383/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Azam--Urdu--3386/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Dawa/Ma-arfat-Din-Kai-Teen-Asool-Ur-3115/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Seerah/Beauty-of-Muhammad--Urdu----3069/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Story-of-Unus-Urdu----3301/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Children/Tears-of-Sensation-Urdu---3162/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Aqeeda/Kashaf-Ush-Shubhat-Urdu---3121/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Stories/Story-of-Esa-Urdu----3305/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Man-a-strange-Creature-Urdu---3263/detail  http://www.darussalamksa.com
RedirectMatch 301 /product_detail.aspx?product_id=1219  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/O-Passanger-of-Life--Urdu----3279/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Stories/Our-Experiences-Urdu----3284/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/General/Hisn-ul-Muslim-Urdu---3124/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/O-Passanger-of-Life--Urdu----3279/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Biography/Bio-Imam-Bukhar--Urdu---3393/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/General/Islamic-Etiquette--Eng---3255/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Seerah/Golden-Story-of-Hazrat-Hadija--3373/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Children/From-Asar-to-Maghrib-Urdu---3171/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Books/Fatawa-Islamiyah---Urdu----Vol-3141/detail  http://www.darussalamksa.com
RedirectMatch 301 product_detail.aspx?product_id=1166  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/General/Ureedu-un-Atuba-Walakin-Urdu---3073/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Worships/Fadal-Saum-Ramadan-wa-Qiam---U-3154/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Children/Talash--Urdu--3384/detail  http://www.darussalamksa.com
RedirectMatch 301 /product_detail.aspx?product_id=1176  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Children/Life-is-valuable--Urdu-3175/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/General/How-can-u-go-in-Paradise-Urdu--3260/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Worships/Is-Womens-Prayer-Different-fr-3225/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Aqeeda/Kitab-Ut-Tuaheed-Urdu---3091/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Stories/Story-of-Musa-Urdu----3302/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Stories/Stories-in-Obey-and-Disobey-of-3356/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Children/Qurani-Du-a-for-Children-Urdu--3101/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Aqeeda/Bina-ul-Qubab-Wal-Mazarat-Urdu-3104/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Dawa/Ittaba-Sunnat-Urdu---3095/detail  http://www.darussalamksa.com
RedirectMatch 301 /en/ksa/ria/5/Stories/Story-of-Lut-Urdu----3297/detail  http://www.darussalamksa.com


#darussalam ksa change
RewriteRule ^index.php/en/ksa/ria/5/Worship/-2270/detail$  http://www.darussalamksa.com/$1 [R=301,L]



IndexIgnore /uploads/*
IndexIgnore /media/*
IndexIgnore /images/*
IndexIgnore /test/*
IndexIgnore /video_devices/*
IndexIgnore /waqas/*
IndexIgnore /yii/*





# supress php errors
