/* 
    Document   : customStyle
    Created on : Jul 25, 2013, 3:14:59 PM
    Author     : aliabbas
    Description:
        Purpose of the stylesheet follows.
        to over ride other css
*/

#navigation_part nav ul li {
    padding: 0 2px;
}
#cart_span,#cart_row {
    cursor: pointer;
}
.cart_bx {
    margin: 7px 0 0 -226px;
}
.under_center_footer img {
    background: transparent;
}
.shop_now {
    cursor: pointer;
}
.feature_btn {
    cursor: pointer;
}

.featured_btn_selected {
    background: none repeat scroll 0 0 #089AD4;
    color: #F6F6F6;
}
.white_basket {
    cursor: pointer;
}
.featured_cover_part img {
    height: 132px;
    width: 84px;
}
.featured_cover_part h2{
    font-size: 15px;
}
.section_part section span a {
    color: #FFFFFF !important;;
    text-decoration: none;
}
input[type=button] {
    cursor: pointer;
}
.nav_dropdown {
    height: auto;
}
.flag {
    text-decoration: none;
}
.search_img {
    z-index: 10;
}
.cart_bx {
    z-index: 20;
}

.add_to_wish_list {
    background: none repeat scroll 0 0 #FFBB1D;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    height: 25px;
    margin: -1px 10px 2px 12px;
    padding-left: 12px;
    padding-top: 11px;
    text-decoration: none;
    width: 21%;
    text-decoration: none;
}
.submit_comment{
    background: none repeat scroll 0 0 #EBB91C;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    clear: both;
    color: #FFFFFF;
    float: right;
    font-family: Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    height: 35px;
    margin: 10px 0 0;
    padding: 0 10px;

}
.qurani_books img {
    height: 132px;
}
#cart span {
    font-size: 13px;
}
.cart-grid-btn {
     font-size: 0.9em;
    margin: auto;
    width: 960px;
}
.cart-grid-btn btn .check_out_cart{
    float: right;
}
.white_basket a {
    height: 100%;
    width: 100%;
}