/* 
    Document   : customStyle
    Created on : Jul 25, 2013, 3:14:59 PM
    Author     : aliabbas
    Description:
        Purpose of the stylesheet follows.
        to over ride other css
*/

#navigation_part nav ul li {
    padding: 0 2px;
}
#cart_span,#cart_row {
    cursor: pointer;
}
.cart_bx {
    margin: 7px 0 0 -226px;
}
.under_center_footer img {
    background: transparent;
}
.shop_now {
    cursor: pointer;
}
.feature_btn {
    cursor: pointer;
}

.featured_btn_selected {
    background: none repeat scroll 0 0 #089AD4;
    color: #F6F6F6;
}
.white_basket {
    cursor: pointer;
}
.featured_cover_part img {
    height: 132px;
    width: 84px;
}
.featured_cover_part h2{
    font-size: 18px;
}
.section_part section span a {
    color: #FFFFFF !important;;
    text-decoration: none;
}
input[type=button] {
    cursor: pointer;
}
.nav_dropdown {
    height: auto;
}