/* 
    Document   : customStyle
    Created on : Jul 25, 2013, 3:14:59 PM
    Author     : aliabbas
    Description:
        Purpose of the stylesheet follows.
        to over ride other css
*/
header {z-index: 1;}
#navigation_part nav ul li {
    padding: 0 2px;
}
#cart_span,#cart_row {
    cursor: pointer;
}
.cart_bx {
    margin: 7px 0 0 -226px;
}
.under_center_footer img {
    background: transparent;
}
.shop_now {
    cursor: pointer;
}
.feature_btn {
    cursor: pointer;
}

.featured_btn_selected {
    background: none repeat scroll 0 0 #089AD4;
    color: #F6F6F6;
}
.white_basket {
    cursor: pointer;
}
.featured_cover_part img {
    height: 132px;
    width: 84px;
}
.featured_cover_part h2{
    font-size: 15px;
}
.section_part section span a {
    color: #FFFFFF !important;;
    text-decoration: none;
}
input[type=button],input[type=submit] {
    cursor: pointer;
}
.nav_dropdown {
    height: auto;
}
.flag {
    text-decoration: none;
}
.search_img {
    z-index: 10;
}
.cart_bx {
    z-index: 20;
}

.add_to_wish_list {
    background: none repeat scroll 0 0 #FFBB1D;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    height: 25px;
    margin: -1px 10px 2px 12px;
    padding-left: 12px;
    padding-top: 11px;
    text-decoration: none;
    width: 21%;
    text-decoration: none;
}
.submit_comment{
    background: none repeat scroll 0 0 #EBB91C;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    clear: both;
    color: #FFFFFF;
    float: right;
    font-family: Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    height: 35px;
    margin: 10px 0 0;
    padding: 0 10px;

}
.qurani_books img {
    height: 132px;
}
#cart span {
    font-size: 13px;
}
.cart-grid-btn {
    font-size: 0.9em;
    margin: auto;
    width: 960px;
}
.cart-grid-btn btn .check_out_cart{
    float: right;
}
.white_basket a {
    height: 100%;
    width: 100%;
}


.banner_dots { overflow: hidden; zoom: 1; position: relative; }
.banner_dots a{ text-decoration: none; outline: none; border: none; cursor: inherit; }
#cs-buttons-coin,#cs-navigation-coin {cursor: pointer}
.banner_dots { font-size: 0px; padding: 10px; clear:  left; }
.banner_dots a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #f0b919; color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #d7d5d6; color: #FFFFFF; }


.banner_dots a {
    border-radius: 50%;
    background: #CCC;
    background: -webkit-linear-gradient(top,  #CCCCCC, #F3F3F3); /* webkit browsers */
    background:    -moz-linear-gradient(top,  #CCCCCC, #F3F3F3); /* firefox 3.6+ */
    background:      -o-linear-gradient(top,  #CCCCCC, #F3F3F3); /* opera */
    background:     -ms-linear-gradient(top,  #CCCCCC, #F3F3F3); /* IE10 */
    background:         linear-gradient(top,  #CCCCCC, #F3F3F3); /* css3 */ 
    cursor: pointer;
}
.banner_dots a.cs-active {
    background: #f0b919;
    background: -webkit-linear-gradient(top,  #f0b919, #a07804); /* webkit browsers */
    background:    -moz-linear-gradient(top,  #f0b919, #a07804); /* firefox 3.6+ */
    background:      -o-linear-gradient(top,  #f0b919, #a07804); /* opera */
    background:     -ms-linear-gradient(top,  #f0b919, #a07804); /* IE10 */
    background:         linear-gradient(top,  #f0b919, #a07804); /* css3 */  
    border-radius: 50%;    
    box-shadow: 0 0 3px #a07804;   
    border: 1px solid #a07804 !important;     
}
#ui-datepicker-div{
    z-index: 0;
}
.clear {
    clear: both;
}

.row_input_type a img {
    width: 53px;
    height: 32px;
}
.forgot_pass a {
    font-size: 14px;
}
.print_link_btn{
    background: none repeat scroll 0 0 #ccc;
    padding:4px;
    color:#000;
    border-radius:3px 3px 3px 3px;
    border: medium none;
    text-decoration: none;
    margin-right:10px;
    padding:4px;
    float:right;
    height: 16px;
    text-transform: capitalize;
}
.print_link_btn:hover{
    background: none repeat scroll 0 0 #0182BC;
    padding:4px;
    color:#FFFFFF;
    border-radius:3px 3px 3px 3px;
    border: medium none;
    text-decoration: none !important;
    height: 16px;

}